In [2]:
import os
import pandas as pd

In [3]:
folder_path  = "D:\Shair storae\Project\DE Zoom camp\DE\Module 3\Data"

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\momo2\AppData\Local\Temp\ipykernel_15616\323467465.py:1: SyntaxWarning: invalid escape sequence '\S'
  folder_path  = "D:\Shair storae\Project\DE Zoom camp\DE\Module 3\Data"

In [4]:
parquet_files = [f for f in os.listdir(folder_path) if f.endswith('.parquet')]

In [5]:
parquet_files

['green_tripdata_2022-01.parquet',
 'green_tripdata_2022-02.parquet',
 'green_tripdata_2022-03.parquet',
 'green_tripdata_2022-04.parquet',
 'green_tripdata_2022-05.parquet',
 'green_tripdata_2022-06.parquet',
 'green_tripdata_2022-07.parquet',
 'green_tripdata_2022-08.parquet',
 'green_tripdata_2022-09.parquet',
 'green_tripdata_2022-10.parquet',
 'green_tripdata_2022-11.parquet',
 'green_tripdata_2022-12.parquet']

In [6]:
dfs = []
for file in parquet_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_parquet(file_path)
    dfs.append(df)

In [7]:
combined_df = pd.concat(dfs, ignore_index=True)

In [8]:
combined_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.50,0.50,0.5,0.00,0.0,None,0.3,4.80,2.0,1.0,0.00
1,1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.50,0.50,0.5,0.00,0.0,None,0.3,10.80,2.0,1.0,0.00
2,1,2022-01-01 00:57:02,2022-01-01 01:13:14,N,1.0,41,140,1.0,3.70,14.50,3.25,0.5,4.60,0.0,None,0.3,23.15,1.0,1.0,2.75
3,2,2022-01-01 00:07:42,2022-01-01 00:15:57,N,1.0,181,181,1.0,1.69,8.00,0.50,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2022-01-01 00:07:50,2022-01-01 00:28:52,N,1.0,33,170,1.0,6.26,22.00,0.50,0.5,5.21,0.0,None,0.3,31.26,1.0,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840397,2,2022-12-31 23:33:00,2022-12-31 23:49:00,None,NaN,33,79,NaN,3.53,20.72,0.00,0.0,4.89,0.0,None,1.0,29.36,NaN,NaN,NaN
840398,2,2022-12-31 23:29:00,2023-01-01 00:01:00,None,NaN,49,197,NaN,8.94,39.01,0.00,0.0,8.00,0.0,None,1.0,48.01,NaN,NaN,NaN
840399,2,2022-12-31 23:05:00,2022-12-31 23:12:00,None,NaN,54,181,NaN,1.27,12.11,0.00,0.0,2.62,0.0,None,1.0,15.73,NaN,NaN,NaN
840400,2,2022-12-31 23:03:00,2022-12-31 23:18:00,None,NaN,7,129,NaN,2.23,15.51,0.00,0.0,3.30,0.0,None,1.0,19.81,NaN,NaN,NaN
840401,2,2022-12-31 23:16:00,2022-12-31 23:25:00,None,NaN,17,61,NaN,1.74,12.32,0.00,0.0,2.66,0.0,None,1.0,15.98,NaN,NaN,NaN

In [13]:
pathT = F"D:\Shair storae\Project\DE Zoom camp\DE\Module 3\compain\output.parquet" 
combined_df.to_parquet(pathT,index=False)

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\momo2\AppData\Local\Temp\ipykernel_15616\3624396196.py:1: SyntaxWarning: invalid escape sequence '\S'
  pathT = F"D:\Shair storae\Project\DE Zoom camp\DE\Module 3\compain\output.parquet"

In [10]:
combined_df[combined_df['fare_amount'] ==0]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
1618,2,2022-01-02 13:06:36,2022-01-02 13:07:48,N,1.0,193,193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,1.0,1.0,0.0
1954,2,2022-01-02 16:42:54,2022-01-02 16:43:29,N,1.0,193,193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,1.0,1.0,0.0
1955,2,2022-01-02 16:55:45,2022-01-02 16:55:45,N,1.0,193,193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,1.0,1.0,0.0
3051,1,2022-01-03 10:14:32,2022-01-03 10:56:51,N,5.0,129,82,1.0,6.9,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,2.0,2.0,0.0
3875,2,2022-01-03 15:13:30,2022-01-03 15:21:20,N,1.0,193,193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830623,2,2022-12-30 18:55:35,2022-12-30 18:55:40,N,5.0,41,41,1.0,0.0,0.0,0.0,0.0,0.2,0.0,None,1.0,1.2,1.0,2.0,0.0
831137,1,2022-12-30 20:42:49,2022-12-30 20:43:24,N,5.0,83,82,1.0,0.1,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,3.0,2.0,0.0
832047,2,2022-12-31 12:26:38,2022-12-31 12:28:03,N,1.0,193,193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,1.0,1.0,0.0
832433,2,2022-12-31 15:20:05,2023-01-01 15:19:06,N,1.0,193,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,1.0,1.0,0.0
836749,1,2022-12-15 09:07:06,2022-12-15 09:07:19,None,NaN,151,151,NaN,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,2.0,NaN,NaN,NaN

In [14]:
combined_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.50,0.50,0.5,0.00,0.0,None,0.3,4.80,2.0,1.0,0.00
1,1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.50,0.50,0.5,0.00,0.0,None,0.3,10.80,2.0,1.0,0.00
2,1,2022-01-01 00:57:02,2022-01-01 01:13:14,N,1.0,41,140,1.0,3.70,14.50,3.25,0.5,4.60,0.0,None,0.3,23.15,1.0,1.0,2.75
3,2,2022-01-01 00:07:42,2022-01-01 00:15:57,N,1.0,181,181,1.0,1.69,8.00,0.50,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2022-01-01 00:07:50,2022-01-01 00:28:52,N,1.0,33,170,1.0,6.26,22.00,0.50,0.5,5.21,0.0,None,0.3,31.26,1.0,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840397,2,2022-12-31 23:33:00,2022-12-31 23:49:00,None,NaN,33,79,NaN,3.53,20.72,0.00,0.0,4.89,0.0,None,1.0,29.36,NaN,NaN,NaN
840398,2,2022-12-31 23:29:00,2023-01-01 00:01:00,None,NaN,49,197,NaN,8.94,39.01,0.00,0.0,8.00,0.0,None,1.0,48.01,NaN,NaN,NaN
840399,2,2022-12-31 23:05:00,2022-12-31 23:12:00,None,NaN,54,181,NaN,1.27,12.11,0.00,0.0,2.62,0.0,None,1.0,15.73,NaN,NaN,NaN
840400,2,2022-12-31 23:03:00,2022-12-31 23:18:00,None,NaN,7,129,NaN,2.23,15.51,0.00,0.0,3.30,0.0,None,1.0,19.81,NaN,NaN,NaN
840401,2,2022-12-31 23:16:00,2022-12-31 23:25:00,None,NaN,17,61,NaN,1.74,12.32,0.00,0.0,2.66,0.0,None,1.0,15.98,NaN,NaN,NaN

In [15]:
external_table_distinct_count = combined_df['PULocationID'].nunique()
external_table_bytes = combined_df.memory_usage(deep=True).sum()

In [16]:
print("Distinct PULocationIDs on External Table:", external_table_distinct_count)

Distinct PULocationIDs on External Table: 258

In [17]:
print("Estimated amount of data to be read for External Table:", external_table_bytes, "bytes")

Estimated amount of data to be read for External Table: 180858928 bytes

In [18]:
external_table_bytes = 180858928
external_table_megabytes = external_table_bytes / 1048576  # 1024^2 bytes per megabyte

print("Estimated amount of data to be read for External Table:", external_table_megabytes, "MB")

Estimated amount of data to be read for External Table: 172.4805145263672 MB